:root {
  --doc-family: Inter, system-ui, sans-serif;
  --doc-mono: 'SF Mono', ui-monospace, monospace;
  --doc-foreground: hsl(298, 7%, 19%);
  --doc-background: hsl(0, 0%, 93%);
  --doc-measure: 80ch;

  /** Axioms */
  --foregroundColor: black;
  --backgroundColor: white;
  --border-thin: 0.2rem;
  --measure: 60ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --doc-foreground: hsl(0, 0%, 93%);
    --doc-background: hsl(0, 0%, 7%);

    --foregroundColor: white;
    --backgroundColor: black;
  }
}

/* TODO: find a way to refactor these two */
.layoutInfo,
.markdownPage {
  max-width: calc(var(--doc-measure) + calc(2 * var(--s1)));
  background-color: #ffffff;
  padding: var(--s1);
  border-radius: var(--s-3);
}
@media (prefers-color-scheme: dark) {
  .markdownPage,
  .layoutInfo {
    background-color: hsl(215, 3%, 13%);
  }
}

/*
  Globals
*/
code:not([class]) {
  font-family: var(--doc-mono);
  border-radius: var(--s-4);
  padding: 0 var(--s-3);
  background-color: rgba(0, 0, 0, 0.05);
}
a {
  /* color: hsl(225, 76%, 45%); */
  color: hsl(238, 90%, 56%);
}
@media (prefers-color-scheme: dark) {
  code:not([class]) {
    background-color: rgba(255, 255, 255, 0.075);
  }
  a {
    color: hsl(238, 100%, 71%);
  }
}

/*
  Docs layout
*/
.docsLayout {
  color: var(--doc-foreground);
  background-color: var(--doc-background);
  font-family: var(--doc-family);
}
.docsLayout-header {
  padding: var(--s0) var(--s0) var(--s3);
  border-right: var(--border-thin) solid var(--doc-foreground);
}
.docsLayout-main {
  padding: var(--s0) var(--s0) var(--s5);
  position: relative;
  min-height: 100vh;
}
@media (min-width: 1024px) {
  .docsLayout-header,
  .docsLayout-main {
    padding-inline: var(--s2);
  }
}

/*
  Navigation
*/
.docsNav {
}
.docsNav ul > * {
  margin-block-start: var(--s-1);
}
.docsNav-brand {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
  color: var(--doc-foreground);
  text-decoration: none;
}
.docsNav-brand a:hover {
  text-decoration: underline;
}
.docsNav-item {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--doc-foreground);
}
.docsNav-item::after {
  content: ' →';
  text-decoration: none;
}
.docsNav-item[aria-current] {
  border: var(--border-thin) solid rebeccapurple;
  border-image: linear-gradient(
    to bottom right,
    hsl(281, 100%, 50%) 0%,
    hsl(211, 100%, 50%) 25%,
    hsl(143, 81%, 46%) 50%,
    hsl(37, 91%, 45%) 75%,
    hsl(337, 100%, 50%) 100%
  );
  border-image-slice: 1;
  padding: var(--s-3);
  margin: calc(-1 * var(--s-3) - var(--border-thin));
}

/*
  General page
*/
.docsTitle {
  font-size: 2.5rem;
  margin: 0 0 var(--s0);
}

/*
  Layout info block
*/
.layoutInfo {
  max-width: var(--doc-measure);
  font-size: 1.1em;
}
.layoutInfo > * + * {
  margin-block-start: var(--s0);
}
.layoutInfo table {
  font-size: 1rem;
  border-collapse: collapse;
}
.layoutInfo table th {
  border-bottom: var(--border-thin) solid #ccc;
}
.layoutInfo table th,
.layoutInfo table td {
  padding: var(--s-2) var(--s-1);
  text-align: inherit;
  word-break: keep-all;
}
.layoutInfo td:nth-child(1) {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #aaa;
  font-family: var(--doc-mono);
  font-weight: bold;
  -webkit-user-select: all;
  user-select: all;
}
@media (prefers-color-scheme: dark) {
  .layoutInfo td:nth-child(1) {
    text-decoration-color: #ccc;
  }
}
.layoutInfo table td:nth-child(3) {
  font-family: var(--doc-mono);
}

/*
  Prismjs — minimal copy from GitHub css
*/
pre[class^='language'] {
  font-family: var(--doc-mono);
  padding: var(--s0);
  color: var(--prism-foreground, #24292f);
  background: var(--prism-background, #f6f8fa);
  border-radius: var(--s-2);
  overflow-x: auto;
}
code .token.rule,
code .token.keyword {
  color: var(--prism-keyword, #cf222e);
}
code .token.string {
  color: var(--prism-string, #0a3069);
}
code .token.function {
  color: var(--prism-function, #8250df);
}
code .token.comment {
  color: var(--prism-comment, #6e7781);
}
@media (prefers-color-scheme: dark) {
  :root {
    --prism-foreground: hsl(210, 13%, 88%);
    --prism-background: hsl(214, 10%, 16%);
    --prism-keyword: #f47067;
    --prism-string: #96d0ff;
    --prism-function: #dcbdfb;
    --prism-comment: #768390;
  }
}

/*
  Custom elements
*/
doc-text:first-letter {
  text-transform: uppercase;
}
component-def,
doc-box,
doc-resizer,
doc-section,
doc-text {
  display: block;
}

/*
  Utilities
*/
.showPadding {
  background-image: linear-gradient(
      to bottom,
      var(--doc-background) 0%,
      var(--doc-background) 100%
    ),
    linear-gradient(
      to bottom,
      var(--backgroundColor) 0%,
      var(--backgroundColor) 100%
    );
  background-clip: content-box, padding-box;
}
