:root {
  --doc-family: Inter, system-ui, sans-serif;
  --doc-mono: 'SF Mono', ui-monospace, monospace;
  --doc-foreground: hsl(0, 0%, 7%);
  --doc-background: hsl(0, 0%, 93%);

  /** Axioms */
  --foregroundColor: black;
  --backgroundColor: white;
  --border-thin: 0.125rem;
  --measure: 60ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --doc-foreground: hsl(0, 0%, 93%);
    --doc-background: hsl(0, 0%, 7%);

    --foregroundColor: white;
    --backgroundColor: black;
  }
}

/* Doc Page */
.docsPage {
  padding: 1rem 1rem 10rem;
  position: relative;

  color: var(--doc-foreground);
  background-color: var(--doc-background);

  font-family: var(--doc-family);
}
.docsPage-header {
  margin: 0 0 1em;
  background: var(--doc-background);
  z-index: 1;
}
.docsPage-title {
}
.docsPage-components {
}
.docsPage-components > * + * {
  margin-top: 50px;
}
.docsPage-description {
  max-width: 80ch;
  font-size: 1.2em;
}
.docsPage-description > * + * {
  margin-top: 1rem;
}
.docsPage-description code {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #aaa;
  font-family: var(--doc-mono);
  font-weight: bold;
}
@media (prefers-color-scheme: dark) {
  .docsPage-description code {
    text-decoration-color: #ccc;
  }
}

doc-text:first-letter {
  text-transform: uppercase;
}

doc-box,
doc-section,
doc-resizer,
doc-text,
component-def {
  display: block;
}

.showPadding {
  background-image: linear-gradient(
      to bottom,
      var(--doc-background) 0%,
      var(--doc-background) 100%
    ),
    linear-gradient(
      to bottom,
      var(--backgroundColor) 0%,
      var(--backgroundColor) 100%
    );
  background-clip: content-box, padding-box;
}
