:root {
  --doc-family: ui-monospace, monospace;
  --doc-foreground: hsl(0, 0%, 7%);
  --doc-background: hsl(0, 0%, 93%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --doc-foreground: hsl(0, 0%, 93%);
    --doc-background: hsl(0, 0%, 7%);
  }
}

/* Doc Page */
.docsPage {
  margin: 1rem;
  position: relative;

  color: var(--doc-foreground);
  background-color: var(--doc-background);
}
.docsPage-header {
  margin: 0 0 1em;
  background: var(--doc-background);
  z-index: 1;
}
.docsPage-title {
  font-family: var(--doc-family);
}
.docsPage-components {
}
