@import '../everything.css';

:root {
  --measure: 40em;
  --fillable: rgb(84, 0, 181);
  --font-main: 'Inter var', Inter, system-ui, sans-serif;
  --font-mono: 'SF Mono', ui-monospace, monospace;
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);

  --anchor: hsl(238, 90%, 56%);
  --color: #242729;
  --background: white;
  --border: #bebebe;
  --highlight: #eee;
  --focus: coral;
}
@media (prefers-color-scheme: dark) {
  :root {
    --anchor: hsl(238, 100%, 71%);
    --color: #dddddd;
    --background: #242729;
    --border: #666666;
    --highlight: #333;
  }
}
body {
  font-family: var(--font-main);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
  color: var(--color);
  background: var(--background);
}
.flow > * + * {
  margin-block-start: var(--flow, 1em);
}
body > main:not([class]) {
  flex: 1;
  padding: var(--s0);
}
body > header:not([class]) {
  font-size: 1.2em;
  padding: 1rem;
}
body > footer:not([class]) {
  text-align: center;
  font-style: italic;
  opacity: 0.8;
  padding: 1em;
}
body > footer:not([class]) a {
  font-weight: bold;
  color: currentcolor;
}
a {
  color: var(--anchor);
}
pre,
code {
  font-family: var(--font-mono);
  border-radius: 4px;
  background-color: var(--highlight);
}
code {
  padding: 0 0.2em;
  display: inline-block;
  word-break: break-all;
}
pre {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  border: var(--s-5) solid var(--border);
}
blockquote {
  border-left: var(--border-thick) solid var(--border);
  padding: 1em;
  background-color: var(--highlight);
}
h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2;
}
h3,
h4,
h5,
h6 {
  font-size: 1.2em;
  line-height: 1.2;
}
p,
ul,
pre,
blockquote {
  margin: 0;
}
details > summary {
  cursor: pointer;
}
details > :not(summary) {
  padding: 0.5em 1em;
}
ol,
ul {
  margin-block: 0;
  margin-inline-start: 1em;
  padding-inline-start: 1em;
  padding: 0;
}
a:focus,
button:focus,
select:focus,
textarea:focus,
input:focus,
summary:focus {
  outline: var(--s-3) solid var(--focus);
  outline-offset: var(--s-3);
}
[aria-hidden],
[aria-hidden='true'] {
  display: none !important;
}
table:not([class]) {
  display: block;
  font-size: 1rem;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}
table:not([class]) th {
  border-bottom: var(--border-thin) solid var(--border);
}
table:not([class]) th,
table:not([class]) td {
  padding: var(--s-2) var(--s-1);
  text-align: inherit;
  word-break: keep-all;
}
dl:not([class]) dt {
  font-weight: 600;
  font-style: italic;
}
dl:not([class]) dd {
  margin-inline-start: 2ch;
}
dl:not([class]) > dd + dt {
  margin-top: var(--s-1);
}
figure:not([class]) > *:not(figcaption) {
  margin-inline: auto;
}
figure:not([class]) > * + * {
  margin-block-start: var(--s-3);
}
figcaption:not([class]) {
  text-align: center;
  font-style: italic;
}
