---
layout: html.njk
---

<div class="docsLayout">
  <sidebar-layout space="0" sideWidth="25ch" contentMin="66%">
    <header class="docsLayout-header">
      {% include 'site-nav.njk' %}
    </header>
    <main class="docsLayout-main">
      <h2 class="docsTitle">{{ title }}</h2>
      <stack-layout space="var(--s3)">
        {{ content | safe }}
      </stack-layout>
    </main>
  </sidebar-layout>
</div>
