---
nav:
- url: /
  name: Home
- url: /layouts/
  name: Layouts
- url: /docs/
  name: Docs
- url: /forms/
  name: Forms
---

<!DOCTYPE html>
<html>
  <head>
    <title>⚗️ Alembic | {{ title }}</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ '/docs/docs.css' | url }} " />
    <!-- @openlab/alembic inject-css -->
  </head>
  <body>
    {{ content | safe }}
    <script type="module" src="{{ '/docs/docs.js' | url }}"></script>
  </body>
</html>
