---
layout: html.njk
tiles:
- id: stack
  tag: stackLayout
  alt: Stack
- id: box
  tag: boxLayout
  alt: Box
- id: center
  tag: centerLayout
  alt: Center
- id: cluster
  tag: clusterLayout
  alt: Cluster
- id: sidebar
  tag: sidebarLayout
  alt: Sidebar
- id: switcher
  tag: switcherLayout
  alt: Switcher
- id: cover
  tag: coverLayout
  alt: Cover
- id: grid
  tag: gridLayout
  alt: Grid
- id: frame
  tag: frameLayout
  alt: Frame
- id: reel
  tag: reelLayout
  alt: Reel
- id: imposter
  tag: imposterLayout
  alt: Imposter
- id: icon
  tag: iconLayout
  alt: Icon
---

<div class="docsLayout">
  <sidebar-layout space="0" sideWidth="25ch" contentMin="66%">
    <header class="docsLayout-header">
      {% include 'site-nav.njk' %}
    </header>
    <div>
      <main class="docsLayout-main">
        <h2 class="docsTitle">{{ title }}</h2>
        <stack-layout space="var(--s3)">
          {{ content | safe }}
        </stack-layout>
      </main>
      <footer class="docsLayout-footer">
        <reel-layout class="layoutNav">
          {% for item in tiles %}
          <a href="#{{ item.id }}" class="layoutNav-item">
            <img
              width="96"
              height="96"
              src="{{ collections[item.tag][0].data.tile | url }}"
              alt="{{ item.alt }}"
            />
            <p>{{item.alt}}</p>
          </a>
          {% endfor %}
        </reel-layout>
      </footer>
    </div>
  </sidebar-layout>
</div>
