---
layout: html.njk
---

<div class="docsLayout">
  <sidebar-layout space="0" sideWidth="25ch" contentMin="66%">
    <header class="docsLayout-header">
      {% include 'site-nav.njk' %}
    </header>
    <div>
      <main class="docsLayout-main">
        <h2 class="docsTitle">{{ title }}</h2>
        <stack-layout space="var(--s3)">
          {{ content | safe }}
        </stack-layout>
      </main>
      <footer class="docsLayout-footer">
        <reel-layout class="layoutReel">
          {% for layout in layouts %}
          <a href="#{{ layout.id }}" class="layoutReel-item">
            <img
              width="96"
              height="96"
              src="{{ collections[layout.tag][0].data.tile | url }}"
              alt="{{ layout.name }}"
            />
            <p>{{layout.name}}</p>
          </a>
          {% endfor %}
        </reel-layout>
      </footer>
    </div>
  </sidebar-layout>
</div>
