{% from 'macros.njk' import link %}

<div class="quickstart flow">
  <p>
    <strong>Quick start</strong> &ndash; Add these tags and hack away!
  </p>
  <pre>&lt;link rel="stylesheet" href="{{ 'everything.css' | fullUrl }}"&gt;</pre>
  <pre>&lt;script type="module" href="{{ 'everything.js' | fullUrl }}"&gt;&lt;/script&gt;</pre>
  <p>
    This does not provide the best user experience but is quick for prototyping or one-offs.
  </p>
</div>
