reel-layout {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--backgroundColor) var(--foregroundColor);
}

reel-layout > * {
  flex: 0 0 var(--item-width);
}

// NOTE — this was duplicated in ./reel.js
reel-layout > img {
  block-size: 100%;
  flex-basis: auto;
  inline-size: auto;
}

reel-layout::-webkit-scrollbar {
  block-size: 1rem;
}

reel-layout::-webkit-scrollbar-track {
  background-color: var(--foregroundColor);
}

reel-layout::-webkit-scrollbar-thumb {
  background-color: var(--backgroundColor);
  background-image: linear-gradient(
    var(--foregroundColor) 0,
    var(--foregroundColor) 0.25rem,
    var(--backgroundColor) 0.25rem,
    var(--backgroundColor) 0.75rem,
    var(--foregroundColor) 0.75rem
  );
  margin-inline: 0.5rem;
}
