reel-layout {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--color-foreground) var(--color-background);
}

reel-layout > * {
  flex: 0 0 var(--item-width);
}

/* NOTE — this was duplicated in ./reel.js */
reel-layout > img {
  block-size: 100%;
  flex-basis: auto;
  inline-size: auto;
}

/* Force scrollbars on webkit (looking at you safari) */
reel-layout::-webkit-scrollbar {
  block-size: 0.8rem;
}
reel-layout::-webkit-scrollbar-track {
  background-color: var(--color-background);
  border-radius: 0.4rem;
}
reel-layout::-webkit-scrollbar-thumb {
  background-color: var(--color-foreground);
  border-radius: 0.4rem;
}
