{% if footerNav %}
<footer class="docsLayout-footer">
  <reel-layout class="layoutReel">
    {% for entry in collections.all | eleventyNavigation(footerNav) %}
    <a href="#{{ entry.title | lower | slugify }}" class="layoutReel-item">
      <img
        width="96"
        height="96"
        src="{{ entry.data.tile | url }}"
        alt="{{ entry.title }}"
      />
      <p>{{ entry.title }}</p>
    </a>
    {% endfor %}
  </reel-layout>
</footer>
{% endif %}
