{% from 'macros.njk' import icon %}

{% if siblings %}
<grid-layout>
  {% for entry in collections.all | eleventyNavigation(siblings) %}
  <box-layout class="navCard">
    <a href="{{ entry.url }}">
      <h2>
        <icon-layout>
          {{ entry.title }}
          {{ icon('right') }}
        </icon-layout>
      </h2>
      <p> {{ entry.excerpt }} </p>
    </a>
  </box-layout>
  {% endfor %}
</grid-layout>
{% endif %}
