
{% from 'macros.njk' import icon %}

{% if siblings %}
<nav class="siblings" aria-labelledby="siblings">
  <p id="siblings">{{ siblings }}</p>
  <ul>
    {% for entry in collections.all | eleventyNavigation(siblings) %}
    <li>
      {% if entry.url == page.url %}
      <strong>{{ entry.title }}</strong>
      {% else %}
      <a href="{{ entry.url }}" >
        <icon-layout>
          {{ entry.title }}
          {{ icon('right') }}
        </icon-layout>
      </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
