---
layout: html.njk
title: 🏠 Home
---

{% from 'macros.njk' import icon, link %}

<cover-layout minheight="90vh" centered=".homeHero">
  <cluster-layout justify="flex-end">
    <a href="{{ '/install' | url }}">Install</a>
    <a href="{{ '/layouts' | url }}">Layouts</a>
    <a href="{{ '/forms' | url }}">Forms</a>
    <a href="{{ site.githubUrl }}">GitHub</a>
  </cluster-layout>
  <div class="homeHero">
    <h1>⚗️ Alembic</h1>
    <p>Design system for research projects</p>
  </div>
</cover-layout>

<center-layout gutters="var(--s1)">
  <stack-layout space="var(--s5)">
    <section class="homeSection flow">
      <h1>
        <icon-layout> {{ icon('info') }} About </icon-layout>
      </h1>
      <p>
        Alembic is a Design System built with
        <strong class="highlight">Modern CSS</strong> based on
        <strong class="highlight">Progressive Enhancement</strong> to deliver
        <strong class="highlight">accessible</strong> experiences on the web. It
        is meant to work with the browser, not fight it, embracing HTML and CSS
        & minimising JavaScript.
      </p>
      <p>
        Alembic is a living project and a work in progress. Inspired by
        <a href="https://cube.fyi">CUBE CSS</a>,
        <a href="https://every-layout.dev/">EveryLayout</a>,
        <a href="https://bulma.io/">Bulma</a> and
        <a href="https://formdesignpatterns.com/">Form design patterns</a>.
      </p>
    </section>
    <section class="homeSection flow">
      <h1>
        <icon-layout> {{ icon('download') }} Install </icon-layout>
      </h1>
      <p> Add alembic to your project, depending on your setup. </p>
      <ul>
        <li> {{ link('Static Site Generators', '/install/ssg') }} </li>
        <li> {{ link('Single Page Apps', '/install/spa') }} </li>
        <li>
          {{ link('Service-Side Rendering', '/install/ssr') }}
          <em>(experimental)</em>
        </li>
      </ul>
      <br />

      {% include 'quickstart.njk' %}
    </section>
    <section class="homeSection flow">
      <h1>
        <icon-layout> {{ icon('layouts') }} Layouts </icon-layout>
      </h1>
      <p>
        Building blocks for composing complex interfaces together with reusable
        components. {{ link('Layouts', '/layouts') }}
      </p>

      <reel-layout
        class="layoutReel"
        noBar
        data-autoscroll="true"
        style="margin-inline: calc(-1 * var(--s1))"
      >
        {% for layout in layouts.concat(layouts) %}
        <span href="#{{ layout.id }}" class="layoutReel-item">
          <img
            width="96"
            height="96"
            src="{{ collections[layout.tag][0].data.tile | url }}"
            alt="{{ layout.name }}"
          />
          <p>{{layout.name}}</p>
        </span>
        {% endfor %}
      </reel-layout>
    </section>
    <section class="homeSection flow">
      <h1>
        <icon-layout> {{ icon('forms') }} Forms </icon-layout>
      </h1>
      <p>
        HTML patterns for creating simple accessible web forms. {{ link('Forms',
        '/forms') }}
      </p>
    </section>
    <section class="homeSection flow">
      <h1>
        <icon-layout> {{ icon('internal') }} Internal </icon-layout>
      </h1>
      <p>Information for developing on Alembic itself.</p>
      <ul>
        <li>{{ link('Structure', '/development/structure') }}</li>
        <li>{{ link('Style Guide', '/development/style-guide') }}</li>
        <li>{{ link('Doc tools', '/development/doc-tools') }}</li>
      </ul>
    </section>
    <section class="homeSection flow">
      <h1>
        <icon-layout> {{ icon('question') }} Something else? </icon-layout>
      </h1>
      <p>
        Got something that should be a part of alembic?
        <br />
        {{ link('Contribute', '/internal/contribute') }}
      </p>
    </section>

    <footer class="homeFooter">
      <p>
        Made by
        <a href="https://openlab.ncl.ac.uk">Open Lab</a>
        &amp;
        <a href="{{ site.githubUrl }}">Open Source</a>
        &ndash; v{% pkgVersion %}
      </p>
    </footer>
  </stack-layout>
</center-layout>
