<html>
  <head>
    <title>Alembic | Layout</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../lib/reset.css" />
    <link rel="stylesheet" href="./layouts.css" />

    <link rel="stylesheet" href="../docs/docs.css" />
    <script type="module" src="../docs/docs.js"></script>

    <script type="module">
      import { defineLayoutElements } from './layouts.js'
      defineLayoutElements()
    </script>
  </head>
  <body class="docsPage">
    <header class="docsPage-header">
      <h1 class="docsPage-title">Alembic Layout</h1>
    </header>
    <main class="docsPage-components">
      <!--
        Stack
       -->
      <doc-section label="Stack">
        <div class="docsPage-description">
          <p>
            <strong>StackLayout</strong> places elements vertically and adds
            whitespace between them. Set <code>space</code> to control the
            amount of whitespace or remove it. You can nest multiple
            StackLayouts with different spacing.
          </p>
        </div>
        <component-def label="Stack / Vanilla">
          <stack-layout>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Small">
          <stack-layout space="var(--s-1)">
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Gapless">
          <stack-layout space="0">
            <doc-box size="50px"></doc-box>
            <doc-box size="50px" accent="coral"></doc-box>
            <doc-box size="50px" accent="royalblue"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Nested">
          <stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
            </stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px" accent="royalblue"></doc-box>
              <doc-box size="50px" accent="royalblue"></doc-box>
              <doc-box size="50px" accent="royalblue"></doc-box>
            </stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
            </stack-layout>
          </stack-layout>
        </component-def>
      </doc-section>
      <!--
        Box
       -->
      <doc-section label="Box">
        <div class="docsPage-description">
          <p>
            <strong>BoxLayout</strong> is a primitive to show a container of
            other elements. It has a uniform <code>padding</code> and
            <code>borderWidth</code> to configure the box. It can be inverted
            with <code>invert</code> to swap the text and background colour.
          </p>
        </div>
        <component-def label="Box / Vanilla">
          <box-layout>
            <doc-text words="100"></doc-text>
          </box-layout>
        </component-def>

        <component-def label="Box / Invert">
          <box-layout invert>
            <doc-text words="100"></doc-text>
          </box-layout>
        </component-def>

        <component-def label="Box / No padding">
          <box-layout padding="0">
            <doc-text words="100"></doc-text>
          </box-layout>
        </component-def>

        <component-def label="Box / Composed">
          <box-layout
            padding="0"
            style="border-radius: 0.5rem; overflow: hidden"
          >
            <box-layout borderWidth="0" padding="var(--s0)" invert>
              <doc-text words="5,7"></doc-text>
            </box-layout>
            <box-layout borderWidth="0" padding="var(--s0)">
              <doc-text words="100"></doc-text>
            </box-layout>
          </box-layout>
        </component-def>
      </doc-section>
      <!--
        Center
       -->
      <doc-section label="Center">
        <div class="docsPage-description">
          <p>
            <strong>CenterLayout</strong> ensures a block-level element is
            placed in the horizontal middle of its parent. The element will be
            at most <code>max</code> width and spacing will be added at either
            side to ensure it. Use <code>gutters</code> to apply a padding to
            either side of the cantered element, outside of the
            <code>max</code> width. Use the <code>intrinsic</code> prop to use
            the centered elements width, while it is less that <code>max</code>.
          </p>
        </div>
        <component-def label="Center / Vanilla">
          <center-layout>
            <doc-box size="200px"> </doc-box>
          </center-layout>
        </component-def>

        <component-def label="Center / Gutter">
          <center-layout gutters="var(--s1)" class="showPadding">
            <doc-box size="200px"></doc-box>
          </center-layout>
        </component-def>

        <component-def label="Center / Intrinsic">
          <center-layout intrinsic>
            <doc-box size="200px" display="inline"></doc-box>
          </center-layout>
        </component-def>
      </doc-section>
      <!--
        Cluster
       -->
      <doc-section label="Cluster">
        <div class="docsPage-description">
          <p>
            <strong>ClusterLayout</strong> groups multiple items together based
            on their intrinsic width and separated by a common gutter that
            decided by the. Use the <code>justify</code> and
            <code>align</code> props to control the Flexbox justification and
            alignment. <code>space</code> prop.
          </p>
        </div>
        <component-def label="Cluster / Vanilla">
          <cluster-layout>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="350px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="300px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="500px" display="inline" role="listitem"></doc-box>
            <doc-box size="150px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
            <doc-box size="100px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / Flush">
          <cluster-layout space="0">
            <doc-box size="200px" display="inline"> </doc-box>
            <doc-box size="200px" display="inline" accent="royalblue">
            </doc-box>
            <doc-box size="200px" display="inline" accent="coral"> </doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / End justified">
          <cluster-layout justify="flex-end">
            <doc-box size="200px" display="inline"></doc-box>
            <doc-box size="200px" display="inline"></doc-box>
            <doc-box size="200px" display="inline"></doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / Aligned">
          <cluster-layout align="center">
            <doc-box size="200px" display="inline" style="height: 100px">
            </doc-box>
            <doc-box size="200px" display="inline"> </doc-box>
            <doc-box size="200px" display="inline" style="height: 75px">
            </doc-box>
          </cluster-layout>
        </component-def>
      </doc-section>
      <!--
        Sidebar
       -->
      <doc-section label="Sidebar">
        <div class="docsPage-description">
          <p>
            <strong>SidebarLayout</strong> places two elements side-by-side if
            space permits it or stacks them on top of each other if not. The
            sidebar can either be a set width (using <code>sideWidth</code>) or
            use its intrinsic width (the width of the content inside it). The
            content element will fill up the rest of the horizontal space next
            to the sidebar.
          </p>
          <p>
            Use the <code>side</code> prop to tell SidebarLayout which side to
            put the sidebar on, either "left" or right"
            <code>sideWidth</code> to specify a width for the sidebar. When the
            content's width is less than the <code>contentMin</code> percentage,
            the sidebar and content stack vertically.
          </p>
        </div>
        <component-def label="Sidebar / Vanilla">
          <sidebar-layout>
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / No stretch">
          <sidebar-layout noStretch>
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / Gapless">
          <sidebar-layout space="0">
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / Side width">
          <sidebar-layout sideWidth="20ch">
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>
      </doc-section>
      <!--
        Switcher
       -->
      <doc-section label="Switcher">
        <div class="docsPage-description">
          <p>
            <strong>SwitcherLayout</strong> dynamically displays a set of
            columns horizontally if there is enough space or stacks them
            vertically if not. It is based on threshold which is the minimum
            width that it will show elements horizontally. It has a limit where
            if exceeded elements will always display vertically.
          </p>
          <p>
            There is a <code>limit</code> prop that says how many elements it is
            allowed to display horizontally, if exceeded all elements will
            display vertically. If filled dynamically, this limit should be
            taken into consideration, e.g. stop adding items after it has been
            reached.
          </p>
        </div>
        <component-def label="Switcher / Vanilla">
          <switcher-layout>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </switcher-layout>
        </component-def>

        <component-def label="Switcher / Too many">
          <switcher-layout>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </switcher-layout>
        </component-def>
      </doc-section>
      <!--
        Cover
       -->
      <doc-section label="Cover">
        <div class="docsPage-description">
          <p>
            <strong>CoverLayout</strong> fills a minimum vertical height and
            centers a principle element vertically in the layout. It also places
            accessory elements above/below which keep their intrinsic height. By
            default a nested "h1" element is the principle element, set
            <code>centered</code> to a CSS selector for an alternate principle
            element.
          </p>
          <p>
            Use <code>space</code> to control the minimum space between all
            elements and set <code>noPad</code> if you don't want padding on the
            top-level layout itself. The default minimum height of the layout is
            "100vh" but it can be overidden with the
            <code>minHeight</code> prop.
          </p>
        </div>
        <component-def label="Cover / Vanilla">
          <cover-layout class="showPadding">
            <doc-box size="50px"></doc-box>
            <h1>Hello, Cover!</h1>
            <doc-box size="50px"></doc-box>
          </cover-layout>
        </component-def>

        <component-def label="Cover / Shorter">
          <cover-layout minHeight="400px" noPad>
            <doc-box size="50px"></doc-box>
            <h1>Hello, Cover!</h1>
            <doc-box size="50px"></doc-box>
          </cover-layout>
        </component-def>

        <component-def label="Cover / Custom center">
          <cover-layout centered=".center" minHeight="400px" noPad>
            <doc-box size="50px"></doc-box>
            <doc-box class="center" size="100px" accent="royalblue"></doc-box>
            <doc-box size="50px"></doc-box>
          </cover-layout>
        </component-def>

        <component-def label="Cover / Single">
          <cover-layout centered=".center" minHeight="400px" noPad>
            <doc-box class="center" size="200px" accent="royalblue"></doc-box>
          </cover-layout>
        </component-def>

        <component-def label="Cover / No padding">
          <cover-layout centered=".center" minHeight="400px" noPad>
            <doc-box class="center" size="200px" accent="royalblue"></doc-box>
          </cover-layout>
        </component-def>
      </doc-section>
      <!--
        Grid
       -->
      <doc-section label="Grid">
        <div class="docsPage-description">
          <p>
            <strong>GridLayout</strong> creates a responsive CSS Grid where each
            element has a <code>min</code>(imum) width. Element start at the
            minimum width and grow proportionally until there is space for
            "ghost" elements at which points all elements start from the minimum
            width again. Set the <code>space</code> prop to configure the gutter
            between elements.
          </p>
          <p>
            GridLayout is suited for lists of same-sized content that are to be
            displayed at roughly the same size. For example, a set of cards
            showing people on a website. It avoids the last-row stretching of
            some Flexbox implementations.
          </p>
        </div>
        <component-def label="Grid / Vanilla">
          <grid-layout>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </grid-layout>
        </component-def>

        <component-def label="Grid / Wider">
          <grid-layout min="400px">
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </grid-layout>
        </component-def>
      </doc-section>
      <!--
        Frame
       -->
      <doc-section label="Frame">
        <div class="docsPage-description">
          <p>
            <strong>FrameLayout</strong> ensures it's child element has a fixed
            aspect ratio by cropping around the center of the image. If content
            is provided instead of an image, that will be centered with Flexbox
            too. Set <code>ratio</code> to the desired aspect ratio in the
            format "16:9".
          </p>
        </div>
        <component-def label="Frame / Vanilla">
          <frame-layout>
            <img src="../docs/assets/portrait-image.jpg" />
          </frame-layout>
        </component-def>

        <component-def label="Frame / 5:1">
          <frame-layout ratio="5:1">
            <img src="../docs/assets/portrait-image.jpg" />
          </frame-layout>
        </component-def>

        <component-def label="Frame / Content">
          <frame-layout>
            <p>Coming soon ...</p>
          </frame-layout>
        </component-def>
      </doc-section>
      <!--
        Reel
       -->
      <doc-section label="Reel">
        <div class="docsPage-description">
          <p>
            <strong>ReelLayout</strong> places elements horizontally with a set
            <code>space</code> between them and ensures overflow scrolling
            happens. Unless <code>noBar</code> is set, the ReelLayout will show
            scrollbars to indicate that there is horizontally scrollable
            content.
          </p>
          <p>
            Use the <code>height</code> prop to force all laid-out elements to
            be a set height, otherwise it will use the elements' intrinsic
            height (within a Flexbox context). Set <code>itemWidth</code> to
            enforce a width on all elements instead of using their intrinsic
            width.
          </p>
        </div>

        <component-def label="Reel / Vanilla">
          <reel-layout>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 150px"></doc-box>
            <doc-box style="width: 400px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
          </reel-layout>
        </component-def>

        <component-def label="Reel / Fixed width">
          <reel-layout itemWidth="200px">
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 150px"></doc-box>
            <doc-box style="width: 400px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
          </reel-layout>
        </component-def>

        <component-def label="Reel / Gapless">
          <reel-layout space="0">
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 300px" accent="royalblue"></doc-box>
            <doc-box style="width: 150px" accent="coral"></doc-box>
            <doc-box style="width: 400px"></doc-box>
            <doc-box style="width: 200px" accent="royalblue"></doc-box>
            <doc-box style="width: 100px" accent="coral"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 300px" accent="royalblue"></doc-box>
            <doc-box style="width: 200px" accent="coral"></doc-box>
          </reel-layout>
        </component-def>

        <component-def label="Reel / No bar">
          <reel-layout noBar>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 150px"></doc-box>
            <doc-box style="width: 400px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
          </reel-layout>
        </component-def>
      </doc-section>
      <!--
        Imposter
       -->
      <doc-section label="Imposter">
        <div class="docsPage-description">
          <p>
            <strong>ImposterLayout</strong> positions an element over other
            elements. The positioned element is vertically and horizontally
            centered in it's nearest positioned parent and will not exceed it's
            height or width, unless <code>breakout</code> is set. It can
            optionally be <code>fixed</code>-d to the viewport instead. The
            width of the element is 50% of the positioned parent unless
            overridden in CSS, it is setup to not exceed 100% of the parent's
            height or width.
          </p>
        </div>

        <component-def label="Imposter / Vanilla">
          <div style="position: relative">
            <doc-text words="500"></doc-text>
            <imposter-layout>
              <box-layout invert>
                <doc-text words="500"></doc-text>
              </box-layout>
            </imposter-layout>
          </div>
        </component-def>

        <component-def label="Imposter / Margin">
          <div style="position: relative">
            <doc-text words="500"></doc-text>
            <imposter-layout margin="1rem">
              <box-layout invert>
                <doc-text words="500"></doc-text>
              </box-layout>
            </imposter-layout>
          </div>
        </component-def>

        <component-def label="Imposter / Sized">
          <div style="position: relative">
            <doc-text words="500"></doc-text>
            <imposter-layout margin="1rem" style="width: var(--measure)">
              <box-layout invert>
                <doc-text words="500"></doc-text>
              </box-layout>
            </imposter-layout>
          </div>
        </component-def>
      </doc-section>
      <!--
        Icon
       -->
      <doc-section label="Icon">
        <p class="docsPage-description">
          <strong>IconLayout</strong> is for placing icons before or after text.
          Use <code>space</code> to have a fixed gap between the text and icon,
          otherwise the natural whitespace from the HTML is used. Set
          <code>label</code> to markup an icon-only element with the correct
          accessibility attributes.
        </p>

        <component-def label="Icon / Vanilla">
          <cluster-layout space="var(--s2)" style="font-size: 1.5rem">
            <icon-layout>
              <svg>
                <use href="../docs/assets/icons.svg#left"></use>
              </svg>
              Back
            </icon-layout>
            <icon-layout>
              <svg>
                <use href="../docs/assets/icons.svg#up"></use>
              </svg>
              Up
            </icon-layout>
            <icon-layout>
              <svg>
                <use href="../docs/assets/icons.svg#down"></use>
              </svg>
              Down
            </icon-layout>
            <icon-layout>
              Next
              <svg>
                <use href="../docs/assets/icons.svg#right"></use>
              </svg>
            </icon-layout>
          </cluster-layout>
        </component-def>

        <component-def label="Icon / Spaced">
          <icon-layout space="var(--s-1)" style="font-size: 1.5rem">
            <svg>
              <use href="../docs/assets/icons.svg#menu"></use>
            </svg>
            Menu
          </icon-layout>
        </component-def>

        <component-def label="Icon / Labelled">
          <icon-layout title="Close" label="Close" style="font-size: 1.5rem">
            <svg>
              <use href="../docs/assets/icons.svg#cross"></use>
            </svg>
          </icon-layout>
        </component-def>
      </doc-section>
    </main>
  </body>
</html>
