/* 
  Tokens:
    * scale values:
      --s-5, --s-4, --s-3, --s-2, --s-1, --s0, --s1, --s2, --s3, --s4, --s5
    * --foregroundColor
    * --backgroundColor
    * --measure
    * --border-thin
 */

@import './stack/stack.css';
@import './box/box.css';
@import './center/center.css';
@import './cluster/cluster.css';
@import './sidebar/sidebar.css';
@import './switcher/switcher.css';
@import './cover/cover.css';
@import './grid/grid.css';
@import './frame/frame.css';
@import './reel/reel.css';
@import './imposter/imposter.css';
@import './icon/icon.css';

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}
