<html>
  <head>
    <title>Alembic | Layout</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="./layout.css" />
    <link rel="stylesheet" href="../docs/docs.css" />
    <script type="module" src="../docs/docs.js"></script>
    <script type="module" src="./layout.js"></script>
  </head>
  <body class="docsPage">
    <header class="docsPage-header">
      <h1 class="docsPage-title">Alembic Layout</h1>
    </header>
    <main class="docsPage-components">
      <!--
        Stack
       -->
      <doc-section label="Stack">
        <p class="docsPage-description">
          <strong>StackLayout</strong> adds whitespace between elements along
          the vertical axis.
        </p>
        <component-def label="Stack / Vanilla">
          <stack-layout>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Small">
          <stack-layout space="var(--s-1)">
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Gapless">
          <stack-layout space="0">
            <doc-box size="50px"></doc-box>
            <doc-box size="50px" accent="coral"></doc-box>
            <doc-box size="50px" accent="royalblue"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Nested">
          <stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
            </stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px" accent="royalblue"></doc-box>
              <doc-box size="50px" accent="royalblue"></doc-box>
              <doc-box size="50px" accent="royalblue"></doc-box>
            </stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
            </stack-layout>
          </stack-layout>
        </component-def>
      </doc-section>
      <!--
        Box
       -->
      <doc-section label="Box">
        <p class="docsPage-description">
          <strong>BoxLayout</strong> is a basic primitive to show a container of
          some elements. It has a <code>padding</code> and
          <code>borderWidth</code> to configure the box. It can be inverted with
          <code>invert</code> to swap the text and background colour.
        </p>
        <component-def label="Box / Vanilla">
          <box-layout>
            <doc-text words="100"></doc-text>
          </box-layout>
        </component-def>

        <component-def label="Box / Invert">
          <box-layout invert>
            <doc-text words="100"></doc-text>
          </box-layout>
        </component-def>

        <component-def label="Box / No padding">
          <box-layout padding="0">
            <doc-text words="100"></doc-text>
          </box-layout>
        </component-def>

        <component-def label="Box / Composed">
          <box-layout
            padding="0"
            style="border-radius: 0.5rem; overflow: hidden"
          >
            <box-layout borderWidth="0" padding="var(--s0)" invert>
              <doc-text words="5,7"></doc-text>
            </box-layout>
            <box-layout borderWidth="0" padding="var(--s0)">
              <doc-text words="100"></doc-text>
            </box-layout>
          </box-layout>
        </component-def>
      </doc-section>
      <!--
        Center
       -->
      <doc-section label="Center">
        <p class="docsPage-description">
          <strong>CenterLayout</strong> ensures a block-level element is placed
          in the horizontal middle of its parent. The element will be at most
          <code>max</code> width and spacing will be added at either side. An
          optional <code>gutters</code> can be applied to add padding to either
          side of the cantered element. It can also use the
          <code>intrinsic</code> width of the centered element so inline
          elements will be perfectly centered (e.g. buttons).
        </p>
        <component-def label="Center / Vanilla">
          <center-layout>
            <doc-box size="200px"> </doc-box>
          </center-layout>
        </component-def>

        <component-def label="Center / Gutter">
          <center-layout gutters="var(--s1)" style="background: white">
            <doc-box size="200px"></doc-box>
          </center-layout>
        </component-def>

        <component-def label="Center / Intrinsic">
          <center-layout intrinsic>
            <doc-box size="200px" display="inline"></doc-box>
          </center-layout>
        </component-def>
      </doc-section>
      <!--
        Cluster
       -->
      <doc-section label="Cluster">
        <p class="docsPage-description">
          <strong>ClusterLayout</strong> groups multiple items together based on
          their intrinsic width and seperated by a gutter decided by the
          <code>space</code> prop.
        </p>
        <component-def label="Cluster / Vanilla">
          <cluster-layout>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="350px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="300px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="500px" display="inline" role="listitem"></doc-box>
            <doc-box size="150px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
            <doc-box size="100px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / Flush">
          <cluster-layout space="0">
            <doc-box size="200px" display="inline"> </doc-box>
            <doc-box size="200px" display="inline" accent="royalblue">
            </doc-box>
            <doc-box size="200px" display="inline" accent="coral"> </doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / End justified">
          <cluster-layout justify="flex-end">
            <doc-box size="200px" display="inline"></doc-box>
            <doc-box size="200px" display="inline"></doc-box>
            <doc-box size="200px" display="inline"></doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / Aligned">
          <cluster-layout align="center">
            <doc-box size="200px" display="inline" style="height: 100px">
            </doc-box>
            <doc-box size="200px" display="inline"> </doc-box>
            <doc-box size="200px" display="inline" style="height: 75px">
            </doc-box>
          </cluster-layout>
        </component-def>
      </doc-section>
      <!--
        Sidebar
       -->
      <doc-section label="Sidebar">
        <p class="docsPage-description">
          <strong>SidebarLayout</strong> places two elements side-by-side if
          space permits it or stacks them on top of each other if not. The
          sidebar can either be a set width or it's intrinsic width (based on
          the width of the content inside it) and the content element will fill
          up the rest of the horizontal space. When there is not enough space
          (e.g. on mobile) where the content is less than
          <code>contentMin</code> percentage, the sidebar and content stack
          vertically.
        </p>
        <component-def label="Sidebar / Vanilla">
          <sidebar-layout>
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / No stretch">
          <sidebar-layout noStretch>
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / Gapless">
          <sidebar-layout space="0">
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / Side width">
          <sidebar-layout sideWidth="20ch">
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
                <li><doc-text words="5,7"></doc-text></li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>
      </doc-section>
      <!--
        Switcher
       -->
      <doc-section label="Switcher">
        <p class="docsPage-description">
          <strong>SwitcherLayout</strong> dynamically displays a set of columns
          horizontally if there is enough space or vertically if not. It is
          based on threshold which is the minimum width that it will show
          elements horizontally. It has a limit where if exceeded elements will
          always display vertically.
        </p>
        <component-def label="Switcher / Vanilla">
          <switcher-layout>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </switcher-layout>
        </component-def>

        <component-def label="Switcher / Too many">
          <switcher-layout>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </switcher-layout>
        </component-def>
      </doc-section>
      <!--
        Grid
       -->
      <doc-section label="Grid">
        <p class="docsPage-description">
          <strong>GridLayout</strong> creates a responsive CSS Grid where each
          element has a <code>min</code> width. Element start at the minimum
          width and grow proportionally until all elements fill the layout
          horizontally or there is space for "ghost" elements. Each element has
          a gutter decided by the <code>space</code> prop.
        </p>
        <component-def label="Grid / Vanilla">
          <grid-layout>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </grid-layout>
        </component-def>

        <component-def label="Grid / Wider">
          <grid-layout min="400px">
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </grid-layout>
        </component-def>
      </doc-section>
      <!--
        Frame
       -->
      <doc-section label="Frame">
        <p class="docsPage-description">
          <strong>FrameLayout</strong> ensures it's child element has a fixed
          aspect ratio and centers any content if not an image.
        </p>
        <component-def label="Frame / Vanilla">
          <frame-layout>
            <img src="../docs/assets/portrait-image.jpg" />
          </frame-layout>
        </component-def>

        <component-def label="Frame / 5:1">
          <frame-layout ratio="5:1">
            <img src="../docs/assets/portrait-image.jpg" />
          </frame-layout>
        </component-def>

        <component-def label="Frame / Content">
          <frame-layout>
            <p>Coming soon ...</p>
          </frame-layout>
        </component-def>
      </doc-section>
      <!--
        Reel
       -->
      <doc-section label="Reel">
        <p class="docsPage-description">
          <strong>ReelLayout</strong> places elements horizontally with a set
          <code>space</code> between them and ensures overflow scrolling
          happens. Unless <code>noBar</code> is set, the ReelLayout will show
          scrollbars to indicate that there is horizontally scrollable content.
          Set the <code>height</code> to force all elements to be a set height,
          otherwise it will use the elements intrinsic height (within a Flexbox
          context).
        </p>

        <component-def label="Reel / Vanilla">
          <reel-layout>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 150px"></doc-box>
            <doc-box style="width: 400px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
          </reel-layout>
        </component-def>

        <component-def label="Reel / Fixed width">
          <reel-layout itemWidth="200px">
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 150px"></doc-box>
            <doc-box style="width: 400px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
          </reel-layout>
        </component-def>

        <component-def label="Reel / Gapless">
          <reel-layout space="0">
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 300px" accent="royalblue"></doc-box>
            <doc-box style="width: 150px" accent="coral"></doc-box>
            <doc-box style="width: 400px"></doc-box>
            <doc-box style="width: 200px" accent="royalblue"></doc-box>
            <doc-box style="width: 100px" accent="coral"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 300px" accent="royalblue"></doc-box>
            <doc-box style="width: 200px" accent="coral"></doc-box>
          </reel-layout>
        </component-def>

        <component-def label="Reel / No bar">
          <reel-layout noBar>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 150px"></doc-box>
            <doc-box style="width: 400px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
            <doc-box style="width: 100px"></doc-box>
            <doc-box style="width: 300px"></doc-box>
            <doc-box style="width: 200px"></doc-box>
          </reel-layout>
        </component-def>
      </doc-section>
      <!--
        Imposter
       -->
      <doc-section label="Imposter">
        <p class="docsPage-description">
          <strong>ImposterLayout</strong> positions an element over other
          elements. The positioned element is vertically and horizontally
          centered in it's nearest positioned parent and will not exceed it's
          height or width. It can optionally be <code>fixed</code> to the
          viewport instead. The width of the element is 50% of the positioned
          parent unless overridden in CSS, it is setup to not exceed 100% (minus
          margins).
        </p>

        <component-def label="Imposter / Vanilla">
          <div style="position: relative">
            <doc-text words="500"></doc-text>
            <imposter-layout>
              <box-layout invert>
                <doc-text words="500"></doc-text>
              </box-layout>
            </imposter-layout>
          </div>
        </component-def>

        <component-def label="Imposter / Margin">
          <div style="position: relative">
            <doc-text words="500"></doc-text>
            <imposter-layout margin="1rem">
              <box-layout invert>
                <doc-text words="500"></doc-text>
              </box-layout>
            </imposter-layout>
          </div>
        </component-def>
      </doc-section>
    </main>
  </body>
</html>
