<html>
  <head>
    <title>Alembic | Layout</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="./layout.css" />
    <link rel="stylesheet" href="../docs/docs.css" />
    <script type="module" src="../docs/docs.js"></script>
    <script type="module" src="./layout.js"></script>
  </head>
  <body class="docsPage">
    <header class="docsPage-header">
      <h1 class="docsPage-title">Alembic Layout</h1>
    </header>
    <main class="docsPage-components">
      <!--
        STACK
       -->
      <doc-section label="Stack">
        <component-def label="Stack / Vanilla">
          <stack-layout>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Small">
          <stack-layout space="var(--s-1)">
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
            <doc-box size="50px"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Gapless">
          <stack-layout space="0">
            <doc-box size="50px"></doc-box>
            <doc-box size="50px" accent="coral"></doc-box>
            <doc-box size="50px" accent="royalblue"></doc-box>
          </stack-layout>
        </component-def>

        <component-def label="Stack / Nested">
          <stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
            </stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px" accent="royalblue"></doc-box>
              <doc-box size="50px" accent="royalblue"></doc-box>
              <doc-box size="50px" accent="royalblue"></doc-box>
            </stack-layout>
            <stack-layout space="var(--s-1)">
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
              <doc-box size="50px"></doc-box>
            </stack-layout>
          </stack-layout>
        </component-def>
      </doc-section>
      <!--
        Box
       -->
      <doc-section label="Box">
        <component-def label="Box / Vanilla">
          <box-layout>
            <p>
              Tellus mi egestas fermentum etiam vulputate ultrices turpis risus
              commodo neque amet platea porta. Mauris integer porttitor
              hendrerit aliqua scelerisque augue nulla consectetur tortor labore
              feugiat nam viverra. Tortor duis nam duis nunc vel pulvinar
              adipiscing rhoncus diam lobortis iaculis eiusmod ipsum.
            </p>
          </box-layout>
        </component-def>

        <component-def label="Box / Invert">
          <box-layout invert>
            <p>
              Tellus mi egestas fermentum etiam vulputate ultrices turpis risus
              commodo neque amet platea porta. Mauris integer porttitor
              hendrerit aliqua scelerisque augue nulla consectetur tortor labore
              feugiat nam viverra. Tortor duis nam duis nunc vel pulvinar
              adipiscing rhoncus diam lobortis iaculis eiusmod ipsum.
            </p>
          </box-layout>
        </component-def>

        <component-def label="Box / No padding">
          <box-layout padding="0">
            <p>
              Tellus mi egestas fermentum etiam vulputate ultrices turpis risus
              commodo neque amet platea porta. Mauris integer porttitor
              hendrerit aliqua scelerisque augue nulla consectetur tortor labore
              feugiat nam viverra. Tortor duis nam duis nunc vel pulvinar
              adipiscing rhoncus diam lobortis iaculis eiusmod ipsum.
            </p>
          </box-layout>
        </component-def>

        <component-def label="Box / Composed">
          <box-layout
            padding="0"
            style="border-radius: 0.5rem; overflow: hidden"
          >
            <box-layout borderWidth="0" padding="var(--s0)" invert
              >Header</box-layout
            >
            <box-layout borderWidth="0" padding="var(--s0)">
              Tellus mi egestas fermentum etiam vulputate ultrices turpis risus
              commodo neque amet platea porta. Mauris integer porttitor
              hendrerit aliqua scelerisque augue nulla consectetur tortor labore
              feugiat nam viverra. Tortor duis nam duis nunc vel pulvinar
              adipiscing rhoncus diam lobortis iaculis eiusmod ipsum.
            </box-layout>
          </box-layout>
        </component-def>
      </doc-section>
      <!--
        Center
       -->
      <doc-section label="Center">
        <component-def label="Center / Vanilla">
          <center-layout>
            <doc-box size="200px"> </doc-box>
          </center-layout>
        </component-def>

        <component-def label="Center / Gutter">
          <center-layout gutters="var(--s1)" style="background: white">
            <doc-box size="200px"></doc-box>
          </center-layout>
        </component-def>

        <component-def label="Center / Intrinsic">
          <center-layout intrinsic>
            <doc-box size="200px" display="inline"></doc-box>
          </center-layout>
        </component-def>
      </doc-section>
      <!--
        Cluster
       -->
      <doc-section label="Cluster">
        <component-def label="Cluster / Vanilla">
          <cluster-layout>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="350px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="300px" display="inline" role="listitem"></doc-box>
            <doc-box size="200px" display="inline" role="listitem"></doc-box>
            <doc-box size="500px" display="inline" role="listitem"></doc-box>
            <doc-box size="150px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
            <doc-box size="100px" display="inline" role="listitem"></doc-box>
            <doc-box size="250px" display="inline" role="listitem"></doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / Flush">
          <cluster-layout space="0">
            <doc-box size="200px" display="inline"> </doc-box>
            <doc-box size="200px" display="inline" accent="royalblue">
            </doc-box>
            <doc-box size="200px" display="inline" accent="coral"> </doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / End justified">
          <cluster-layout justify="flex-end">
            <doc-box size="200px" display="inline"></doc-box>
            <doc-box size="200px" display="inline"></doc-box>
            <doc-box size="200px" display="inline"></doc-box>
          </cluster-layout>
        </component-def>

        <component-def label="Cluster / Aligned">
          <cluster-layout align="center">
            <doc-box size="200px" display="inline" style="height: 100px">
            </doc-box>
            <doc-box size="200px" display="inline"> </doc-box>
            <doc-box size="200px" display="inline" style="height: 75px">
            </doc-box>
          </cluster-layout>
        </component-def>
      </doc-section>
      <!--
        Sidebar
       -->
      <doc-section label="Sidebar">
        <component-def label="Sidebar / Vanilla">
          <sidebar-layout>
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li>Gravida risus orci porttitor convallis</li>
                <li>Dignissim aliqua ultricies lorem vulputate</li>
                <li>Purus semper sit urna laoreet</li>
                <li>Porta vehicula habitasse adipiscing vitae</li>
                <li>Ac nam quis convallis consectetur</li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / No stretch">
          <sidebar-layout noStretch>
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li>Gravida risus orci porttitor convallis</li>
                <li>Dignissim aliqua ultricies lorem vulputate</li>
                <li>Purus semper sit urna laoreet</li>
                <li>Porta vehicula habitasse adipiscing vitae</li>
                <li>Ac nam quis convallis consectetur</li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / Gapless">
          <sidebar-layout space="0">
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li>Gravida risus orci porttitor convallis</li>
                <li>Dignissim aliqua ultricies lorem vulputate</li>
                <li>Purus semper sit urna laoreet</li>
                <li>Porta vehicula habitasse adipiscing vitae</li>
                <li>Ac nam quis convallis consectetur</li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>

        <component-def label="Sidebar / Side width">
          <sidebar-layout sideWidth="20ch">
            <div style="background: royalblue; padding-inline-end: 2rem">
              <ul>
                <li>Gravida risus orci porttitor convallis</li>
                <li>Dignissim aliqua ultricies lorem vulputate</li>
                <li>Purus semper sit urna laoreet</li>
                <li>Porta vehicula habitasse adipiscing vitae</li>
                <li>Ac nam quis convallis consectetur</li>
              </ul>
            </div>
            <doc-box size="300px"></doc-box>
          </sidebar-layout>
        </component-def>
      </doc-section>
      <!--
        Switcher
       -->
      <doc-section label="Switcher">
        <component-def label="Switcher / Vanilla">
          <doc-resizer>
            <switcher-layout>
              <doc-box></doc-box>
              <doc-box></doc-box>
              <doc-box></doc-box>
            </switcher-layout>
          </doc-resizer>
        </component-def>

        <component-def label="Switcher / Too many">
          <switcher-layout>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
            <doc-box></doc-box>
          </switcher-layout>
        </component-def>
      </doc-section>
    </main>
  </body>
</html>
